<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMKG Juanda</title>
    <link rel="website icon" type="webp" href="D:\folder cahtbot cuaca n umum\ChatbotCuaca&Umum\static\images\BMKG.webp">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hal1.css') }}">
</head>
<body>
    <!-- Floating Chat Button -->
    <button class="chatbot-button" id="chatbotToggle">
    <img src="{{ url_for('static', filename='images/CHATBOT.png') }}" alt="Chatbot">
    </button>
    
    <!-- Chat Window -->
    <div class="chat-container" id="chatBox">
        <button type="button" id="closeBtn">&times;</button>
        
        <div class="chat-header">
            <h1>Halo Sobat BMKG Juanda!</h1>
            <p>Silahkan Pilih Pertanyaan Anda</p>
        </div>

        <div class="card-container">
            <div class="card">
                <img class="bmkg-logo" src="{{ url_for('static', filename='images/bmkg-logo.png') }}" alt="BMKG Logo">
                <h2>Informasi Prakiraan Cuaca</h2>
                <p>Dapatkan informasi cuaca terkini.</p>
                <a href="/cuaca">Yuk Tanya🤗</a>
            </div>
            <div class="card">
                <img class="bmkg-logo" src="{{ url_for('static', filename='images/bmkg-logo.png') }}" alt="BMKG Logo">
                <h2>Informasi Umum</h2>
                <p>Temukan informasi seputar BMKG.</p>
                <a href="/umum">Yuk Eksplor🤗</a>
            </div>
        </div>

        <div class="clock-container">
            <div class="cloud"></div> <!-- Awan besar -->
            <div class="cloud small"></div> <!-- Awan kecil -->
            <div id="clock"></div>
            <div id="date"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/hal1.js') }}"></script>
</body>
</html>
